[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.11"

[scripts]
prettier = "pipenv run yapf -i -r app"
lint = "echo.> __init__.py & pipenv run pylint %cd%/app --disable=C,R & del __init__.py"
